==
<section class="collection-banner section-py-space">
    <div class="container-fluid">
        <div class="row collection2">
            <div class="col-md-4">
                <div class="collection-banner-main banner-1 p-left">
                    <div class="collection-img">
                        <img
                            src="http://localhost/pixel/themes/pixel-template/assets/images/layout-2/collection-banner/4.jpg"
                            class="img-fluid bg-img"
                            alt="banner"
                        />
                    </div>
                    <div class="collection-banner-contain">
                        <div>
                            <h3>Leather</h3>
                            <h4>new bag</h4>
                            <div class="shop">
                                <a> shop now </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="collection-banner-main banner-1 p-left">
                    <div class="collection-img">
                        <img
                            src="http://localhost/pixel/themes/pixel-template/assets/images/layout-2/collection-banner/5.jpg"
                            class="img-fluid bg-img"
                            alt="banner"
                        />
                    </div>
                    <div class="collection-banner-contain">
                        <div>
                            <h3>nike</h3>
                            <h4>breeze</h4>
                            <div class="shop">
                                <a> shop now </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="collection-banner-main banner-1 p-left">
                    <div class="collection-img">
                        <img
                            src="http://localhost/pixel/themes/pixel-template/assets/images/layout-2/collection-banner/6.jpg"
                            class="img-fluid bg-img"
                            alt="banner"
                        />
                    </div>
                    <div class="collection-banner-contain">
                        <div>
                            <h3>Printing 3D</h3>
                            <h4>USB moon</h4>
                            <div class="shop">
                                <a> shop now </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
