<section class="deal-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <div class="deal-banner-containe">
                    <h2>save up to 30% to 40% off</h2>
                    <h1>omg! just look at the great deals!</h1>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="deal-banner-containe">
                    <div class="deal-btn">
                        <a class="btn-white"> View more </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
