==
<section class="hot-deal b-g-white section-big-pb-space space-abjust">
    <div class="custom-container">
        <div class="row hot-2">
            <div class="col-12">
                <!--title start-->
                <div class="title3 b-g-white text-left">
                    <h4>today's hot deal</h4>
                </div>
                <!--titel end-->
            </div>

            <div class="col-lg-9">
                <div class="slide-1 no-arrow">
                    <div>
                        <div class="hot-deal-contain deal-abjust">
                            <div class="row hot-deal-subcontain">
                                <div class="col-lg-4 col-md-4">
                                    <div class="hotdeal-right-slick border-0">
                                        <div>
                                            <img
                                                src="http://localhost/pixel/themes/pixel-template/assets/images/layout-2/hot-deal/8.jpg"
                                                alt="hot-deal"
                                                class="img-fluid"
                                            />
                                        </div>
                                        <div>
                                            <img
                                                src="http://localhost/pixel/themes/pixel-template/assets/images/layout-2/hot-deal/7.jpg"
                                                alt="hot-deal"
                                                class="img-fluid"
                                            />
                                        </div>
                                        <div>
                                            <img
                                                src="http://localhost/pixel/themes/pixel-template/assets/images/layout-2/hot-deal/6.jpg"
                                                alt="hot-deal"
                                                class="img-fluid"
                                            />
                                        </div>
                                        <div>
                                            <img
                                                src="http://localhost/pixel/themes/pixel-template/assets/images/layout-2/hot-deal/5.jpg"
                                                alt="hot-deal"
                                                class="img-fluid"
                                            />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="hot-deal-center">
                                        <div>
                                            <div>
                                                <h5>
                                                    Simply dummy text of the
                                                    printing.
                                                </h5>
                                            </div>
                                            <div class="rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <div>
                                                <p>
                                                    It is a long established
                                                    fact that a reader. It is a
                                                    long established fact that a
                                                    reader.It is a long
                                                    established fact that a
                                                    reader. It is a long
                                                    established fact that a
                                                    reader.
                                                </p>
                                                <div class="price">
                                                    <span>$45.00</span>
                                                    <span>$50.30</span>
                                                </div>
                                            </div>
                                            <div class="timer">
                                                <p id="demo">
                                                    <span>
                                                        25
                                                        <span>days</span>
                                                    </span>
                                                    <span>
                                                        46
                                                        <span>hrs</span>
                                                    </span>
                                                    <span>
                                                        12
                                                        <span>min</span>
                                                    </span>
                                                    <span>
                                                        03
                                                        <span>sec</span>
                                                    </span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="hotdeal-right-nav">
                                        <div>
                                            <img
                                                src="http://localhost/pixel/themes/pixel-template/assets/images/layout-2/hot-deal/8.jpg"
                                                alt="hot-dea"
                                                class="img-fluid"
                                            />
                                        </div>
                                        <div>
                                            <img
                                                src="http://localhost/pixel/themes/pixel-template/assets/images/layout-2/hot-deal/7.jpg"
                                                alt="hot-dea"
                                                class="img-fluid"
                                            />
                                        </div>
                                        <div>
                                            <img
                                                src="http://localhost/pixel/themes/pixel-template/assets/images/layout-2/hot-deal/6.jpg"
                                                alt="hot-dea"
                                                class="img-fluid"
                                            />
                                        </div>
                                        <div>
                                            <img
                                                src="http://localhost/pixel/themes/pixel-template/assets/images/layout-2/hot-deal/5.jpg"
                                                alt="hot-dea"
                                                class="img-fluid"
                                            />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="hot-deal-contain deal-abjust">
                            <div class="row hot-deal-subcontain">
                                <div class="col-lg-4 col-md-4">
                                    <div class="hotdeal-right-slick border-0">
                                        <div>
                                            <img
                                                src="http://localhost/pixel/themes/pixel-template/assets/images/layout-2/hot-deal/8.jpg"
                                                alt="hot-deal"
                                                class="img-fluid"
                                            />
                                        </div>
                                        <div>
                                            <img
                                                src="http://localhost/pixel/themes/pixel-template/assets/images/layout-2/hot-deal/7.jpg"
                                                alt="hot-deal"
                                                class="img-fluid"
                                            />
                                        </div>
                                        <div>
                                            <img
                                                src="http://localhost/pixel/themes/pixel-template/assets/images/layout-2/hot-deal/6.jpg"
                                                alt="hot-deal"
                                                class="img-fluid"
                                            />
                                        </div>
                                        <div>
                                            <img
                                                src="http://localhost/pixel/themes/pixel-template/assets/images/layout-2/hot-deal/5.jpg"
                                                alt="hot-deal"
                                                class="img-fluid"
                                            />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="hot-deal-center">
                                        <div>
                                            <div>
                                                <h5>
                                                    Simply dummy text of the
                                                    printing.
                                                </h5>
                                            </div>
                                            <div class="rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <div>
                                                <p>
                                                    It is a long established
                                                    fact that a reader. It is a
                                                    long established fact that a
                                                    reader.It is a long
                                                    established fact that a
                                                    reader. It is a long
                                                    established fact that a
                                                    reader.
                                                </p>
                                                <div class="price">
                                                    <span>$45.00</span>
                                                    <span>$50.30</span>
                                                </div>
                                            </div>
                                            <div class="timer">
                                                <p id="demo1">
                                                    <span>
                                                        25
                                                        <span>days</span>
                                                    </span>
                                                    <span>
                                                        46
                                                        <span>hrs</span>
                                                    </span>
                                                    <span>
                                                        12
                                                        <span>min</span>
                                                    </span>
                                                    <span>
                                                        03
                                                        <span>sec</span>
                                                    </span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="hotdeal-right-nav">
                                        <div>
                                            <img
                                                src="http://localhost/pixel/themes/pixel-template/assets/images/layout-2/hot-deal/8.jpg"
                                                alt="hot-dea"
                                                class="img-fluid"
                                            />
                                        </div>
                                        <div>
                                            <img
                                                src="http://localhost/pixel/themes/pixel-template/assets/images/layout-2/hot-deal/7.jpg"
                                                alt="hot-dea"
                                                class="img-fluid"
                                            />
                                        </div>
                                        <div>
                                            <img
                                                src="http://localhost/pixel/themes/pixel-template/assets/images/layout-2/hot-deal/6.jpg"
                                                alt="hot-dea"
                                                class="img-fluid"
                                            />
                                        </div>
                                        <div>
                                            <img
                                                src="http://localhost/pixel/themes/pixel-template/assets/images/layout-2/hot-deal/5.jpg"
                                                alt="hot-dea"
                                                class="img-fluid"
                                            />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="slide-1-section no-arrow">
                    <div>
                        <div class="media-banner border-0">
                            <div class="media-banner-box">
                                <div class="media-heading">
                                    <h5>New Products</h5>
                                </div>
                            </div>
                            <div class="media-banner-box">
                                <div class="media">
                                    <img
                                        src="http://localhost/pixel/themes/pixel-template/assets/images/layout-1/media-banner/1.jpg"
                                        class="img-fluid"
                                        alt="banner"
                                    />
                                    <div class="media-body">
                                        <div class="media-contant">
                                            <div>
                                                <div class="rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                                <p>Generator on Internet.</p>
                                                <h6>$153.00</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="media-banner-box">
                                <div class="media">
                                    <img
                                        src="http://localhost/pixel/themes/pixel-template/assets/images/layout-1/media-banner/2.jpg"
                                        class="img-fluid"
                                        alt="banner"
                                    />
                                    <div class="media-body">
                                        <div class="media-contant">
                                            <div>
                                                <div class="rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                                <p>Generator on Internet.</p>
                                                <h6>$153.00</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="media-banner-box">
                                <div class="media">
                                    <img
                                        src="http://localhost/pixel/themes/pixel-template/assets/images/layout-1/media-banner/2.jpg"
                                        class="img-fluid"
                                        alt="banner"
                                    />
                                    <div class="media-body">
                                        <div class="media-contant">
                                            <div>
                                                <div class="rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                                <p>Generator on Internet.</p>
                                                <h6>$153.00</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="media-banner-box">
                                <div class="media-view">
                                    <h5>View More</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="media-banner border-0">
                            <div class="media-banner-box">
                                <div class="media-heading">
                                    <h5>Hot deal</h5>
                                </div>
                            </div>
                            <div class="media-banner-box">
                                <div class="media">
                                    <img
                                        src="http://localhost/pixel/themes/pixel-template/assets/images/layout-1/media-banner/3.jpg"
                                        class="img-fluid"
                                        alt="banner"
                                    />
                                    <div class="media-body">
                                        <div class="media-contant">
                                            <div>
                                                <div class="rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                                <p>Generator on Internet.</p>
                                                <h6>$153.00</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="media-banner-box">
                                <div class="media">
                                    <img
                                        src="http://localhost/pixel/themes/pixel-template/assets/images/layout-1/media-banner/4.jpg"
                                        class="img-fluid"
                                        alt="banner"
                                    />
                                    <div class="media-body">
                                        <div class="media-contant">
                                            <div>
                                                <div class="rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                                <p>Generator on Internet.</p>
                                                <h6>$153.00</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="media-banner-box">
                                <div class="media">
                                    <img
                                        src="http://localhost/pixel/themes/pixel-template/assets/images/layout-1/media-banner/3.jpg"
                                        class="img-fluid"
                                        alt="banner"
                                    />
                                    <div class="media-body">
                                        <div class="media-contant">
                                            <div>
                                                <div class="rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                                <p>Generator on Internet.</p>
                                                <h6>$153.00</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="media-banner-box">
                                <div class="media-view">
                                    <h5>View More</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="media-banner border-0">
                            <div class="media-banner-box">
                                <div class="media-heading">
                                    <h5>Best Sellers</h5>
                                </div>
                            </div>
                            <div class="media-banner-box">
                                <div class="media">
                                    <img
                                        src="http://localhost/pixel/themes/pixel-template/assets/images/layout-1/media-banner/1.jpg"
                                        class="img-fluid"
                                        alt="banner"
                                    />
                                    <div class="media-body">
                                        <div class="media-contant">
                                            <div>
                                                <div class="rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                                <p>Generator on Internet.</p>
                                                <h6>$153.00</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="media-banner-box">
                                <div class="media">
                                    <img
                                        src="http://localhost/pixel/themes/pixel-template/assets/images/layout-1/media-banner/2.jpg"
                                        class="img-fluid"
                                        alt="banner"
                                    />
                                    <div class="media-body">
                                        <div class="media-contant">
                                            <div>
                                                <div class="rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                                <p>Generator on Internet.</p>
                                                <h6>$153.00</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="media-banner-box">
                                <div class="media">
                                    <img
                                        src="http://localhost/pixel/themes/pixel-template/assets/images/layout-1/media-banner/1.jpg"
                                        class="img-fluid"
                                        alt="banner"
                                    />
                                    <div class="media-body">
                                        <div class="media-contant">
                                            <div>
                                                <div class="rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                                <p>Generator on Internet.</p>
                                                <h6>$153.00</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="media-banner-box">
                                <div class="media-view">
                                    <h5>View More</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
