==
<section class="instagram">
    <div class="container-fluid">
        <div class="row">
            <div class="col p-0">
                <div class="insta-contant1 no-arrow">
                    <div class="slide-7">
                        <div>
                            <div class="instagram-box">
                                <img
                                    src="http://localhost/pixel/themes/pixel-template/assets/images/insta/1.jpg"
                                    class="img-fluid"
                                    alt="insta"
                                />
                                <div class="insta-cover">
                                    <i class="fa fa-instagram"></i>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="instagram-box">
                                <img
                                    src="http://localhost/pixel/themes/pixel-template/assets/images/insta/2.jpg"
                                    class="img-fluid"
                                    alt="insta"
                                />
                                <div class="insta-cover">
                                    <i class="fa fa-instagram"></i>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="instagram-box">
                                <img
                                    src="http://localhost/pixel/themes/pixel-template/assets/images/insta/3.jpg"
                                    class="img-fluid"
                                    alt="insta"
                                />
                                <div class="insta-cover">
                                    <i class="fa fa-instagram"></i>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="instagram-box">
                                <img
                                    src="http://localhost/pixel/themes/pixel-template/assets/images/insta/4.jpg"
                                    class="img-fluid"
                                    alt="insta"
                                />
                                <div class="insta-cover">
                                    <i class="fa fa-instagram"></i>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="instagram-box">
                                <img
                                    src="http://localhost/pixel/themes/pixel-template/assets/images/insta/5.jpg"
                                    class="img-fluid"
                                    alt="insta"
                                />
                                <div class="insta-cover">
                                    <i class="fa fa-instagram"></i>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="instagram-box">
                                <img
                                    src="http://localhost/pixel/themes/pixel-template/assets/images/insta/6.jpg"
                                    class="img-fluid"
                                    alt="insta"
                                />
                                <div class="insta-cover">
                                    <i class="fa fa-instagram"></i>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="instagram-box">
                                <img
                                    src="http://localhost/pixel/themes/pixel-template/assets/images/insta/7.jpg"
                                    class="img-fluid"
                                    alt="insta"
                                />
                                <div class="insta-cover">
                                    <i class="fa fa-instagram"></i>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="instagram-box">
                                <img
                                    src="http://localhost/pixel/themes/pixel-template/assets/images/insta/8.jpg"
                                    class="img-fluid"
                                    alt="insta"
                                />
                                <div class="insta-cover">
                                    <i class="fa fa-instagram"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="insta-sub-contant1">
                        <div class="insta-title">
                            <h4><span>#</span>INSTAGRAM</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
