==
<section class="section-pt-space">
    <div class="tab-product-main">
        <div class="tab-prodcut-contain">
            <ul class="tabs tab-title">
                <li class="current"><a href="tab-1">fashion</a></li>
                <li class=""><a href="tab-2">electronic</a></li>
                <li class=""><a href="tab-3">footware</a></li>
                <li class=""><a href="tab-4">sports</a></li>
                <li class=""><a href="tab-5">toys</a></li>
                <li class=""><a href="tab-6">books</a></li>
            </ul>
        </div>
    </div>
</section>
