[viewBag]
==
{% if slider %}
<section class="theme-slider b-g-white" id="theme-slider">
    <div class="custom-container">
        <div class="row">
            <div class="col">
                <div class="slide-1 no-arrow">
                    {% for slider in slider %}
                    <div>
                        <div class="slider-banner p-center slide-banner-1">
                            <div class="slider-img">
                                <ul class="layout1-slide-1">
                                    <li id="img-1">
                                        <img
                                            src="{{ slider.slider_left.path }}"
                                            class="img-fluid"
                                            alt="slider"
                                        />
                                    </li>
                                    <li id="img-2" class="slide-center">
                                        <img
                                            src="{{ slider.slider_right.path }}"
                                            class="img-fluid"
                                            alt="slider"
                                        />
                                    </li>
                                </ul>
                            </div>
                            <div class="slider-banner-contain">
                                <div>
                                    <h1>{{ slider.title_1 }}<span>{{ slider.title_2 }}</span></h1>
                                    <h4>{{ slider.desciption }}</h4>
                                    <h2>{{ slider.slogan }}</h2>
                                    <a class="btn btn-normal" href="{{ slider.link }}"> {{ slider.button_text }} </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}