[viewBag]

[staticMenu]
code = "main-menu"
==
<style>
    .category-icon {
        width: 50px;
        height: 50px;
    }
</style>
<div class="category-header-2">
    <div class="custom-container">
        <div class="row">
            <div class="col">
                <div class="navbar-menu">
                    <div class="category-left">
                        <div class="nav-block">
                            <div class="nav-left">
                                <nav class="navbar" data-toggle="collapse" data-target="#navbarToggleExternalContent">
                                    <button class="navbar-toggler" type="button" style="">
                                        <span class="navbar-icon"><i class="fa fa-arrow-down"></i></span>
                                    </button>
                                    <h5 class="mb-0 text-white title-font">
                                        Pilih Kategori
                                    </h5>
                                </nav>
                                <div class="collapse nav-desk" id="navbarToggleExternalContent">
                                    <ul class="nav-cat title-font">
                                        {% for cat in category %}
                                        <li>
                                            <img src="{{ cat.icon.path == '' ? 'assets/images/category.png'|theme : cat.icon.thumb(50,50) }}" alt="{{ cat.name }}" class="category-icon" />
                                            <a href="{{ url('/kategori') }}/{{ cat.slug }}">{{ cat.name }}</a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="menu-block">
                            <nav id="main-nav">
                                <div class="toggle-nav">
                                    <i class="fa fa-bars sidebar-bar"></i>
                                </div>
                                
                                <ul id="main-menu" class="sm pixelstrap sm-horizontal">
                                    <li>
                                        <div class="mobile-back text-right">
                                            Kembali<i class="fa fa-angle-right pl-2" aria-hidden="true"></i>
                                        </div>
                                    </li>
                                    {% if staticMenu.menuItems %}
                                    {% partial staticMenu ~ "::items" items=staticMenu.menuItems %}
                                    {% endif %}
                                </ul>
                            </nav>
                        </div>
                        <div class="icon-block">
                            <ul>
                                <li class="mobile-user onhover-dropdown" onclick="openAccount()">
                                    <a href="#"><i class="icon-user"></i> </a>
                                </li>
                                <li class="mobile-wishlist" onclick="openWishlist()">
                                    <a><i class="icon-heart"></i>
                                        <div class="cart-item">
                                            <div>
                                                0 item<span>wishlist</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="mobile-search">
                                    <a href="#"><i class="icon-search"></i></a>
                                    <div class="search-overlay" style="display: none">
                                        <div>
                                            <span class="close-mobile-search">×</span>
                                            <div class="overlay-content">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-xl-12">
                                                            <form>
                                                                <div class="form-group">
                                                                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Search a Product" />
                                                                </div>
                                                                <button type="submit" class="btn btn-primary">
                                                                    <i class="fa fa-search"></i>
                                                                </button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="mobile-setting mobile-setting-hover" onclick="openSetting()">
                                    <a href="#"><i class="icon-settings"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="category-right">
                        <!-- <div class="contact-block">
                            <div>
                                <i class="fa fa-volume-control-phone"></i>
                                <span>call us<span>{{ general.phone }}</span></span>
                            </div>
                        </div> -->
                        {% if gift %}
                        <div class="btn-group">
                            <div class="gift-block" data-toggle="dropdown">
                                <div class="grif-icon">
                                    <i class="icon-gift"></i>
                                </div>
                                <div class="gift-offer">
                                    <p>gift box</p>
                                    <span style="font-size: 18px;">Penawaran Spesial</span>
                                </div>
                            </div>
                            <div class="dropdown-menu gift-dropdown">
                                {% for gift in gift %}
                                <div class="media">
                                    <div class="mr-3">
                                        <img src="{{ gift.gift_icon.path }}" alt="{{ gift.title }}" />
                                    </div>
                                    <div class="media-body">
                                        <h5 class="mt-0">{{ gift.title }}</h5>
                                        <p>{{ gift.description }}</p>
                                    </div>
                                    <a href="{{ gift.link }}" class="stretched-link"></a>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>