==
<style>
    .form-control {
				height: auto;
		}
		.nav-cat {
				border: 1px #f3f3f3 solid;
		}
</style>
<div class="layout-header2">
    <div class="container">
        <div class="col-md-12">
            <div class="main-menu-block">
                <div class="sm-nav-block">
                    <span class="sm-nav-btn"><i class="fa fa-bars"></i></span>
                    <ul class="nav-slide">
                        <li>
                            <div class="nav-sm-back">
                                Kembali <i class="fa fa-angle-right pl-2"></i>
                            </div>
                        </li>
                        {% for cat in category %}
                        <li><a href="{{ url('/kategori') }}/{{ cat.slug }}">{{ cat.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="logo-block">
                    <a href="{{ url('/') }}">
                        <img src="{{ logo.thumb(164,64) }}" class="img-fluid" alt="logo" />
                    </a>
                </div>
                <div class="input-block">
                    <div class="input-box">
                        <form class="big-deal-form">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="search"><i class="fa fa-search"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Cari produk" />
                            </div>
                        </form>
                    </div>
                </div>
                <div class="cart-block cart-hover-div" onclick="openCart()">
                    <div class="cart">
                        <span class="cart-product" id="cartCount">0</span>
                        <ul>
                            <li class="mobile-cart">
                                <a href="#">
                                    <i class="icon-shopping-cart"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="cart-item">
                        <h5>Kerangjang</h5>
                        <h5>Belanja</h5>
                    </div>
                </div>
                <div class="menu-nav">
                    <span class="toggle-nav">
                        <i class="fa fa-bars"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>