==
<div class="top-header">
    <div class="custom-container">
        <div class="row">
            <div class="col-xl-5 col-md-7 col-sm-6">
                <div class="top-header-left">
                    <div class="shpping-order">
                        <h6>free shipping on order over $99</h6>
                    </div>
                    <div class="app-link">
                        <h6>Download aap</h6>
                        <ul>
                            <li>
                                <a><i class="fa fa-apple"></i></a>
                            </li>
                            <li>
                                <a><i class="fa fa-android"></i></a>
                            </li>
                            <li>
                                <a><i class="fa fa-windows"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-7 col-md-5 col-sm-6">
                <div class="top-header-right">
                    <div class="top-menu-block">
                        <ul>
                            <li><a href="#">gift cards</a></li>
                            <li><a href="#">Notifications</a></li>
                            <li><a href="#">help &amp; contact</a></li>
                            <li><a href="#">todays deal</a></li>
                            <li><a href="#">track order</a></li>
                            <li><a href="#">shipping </a></li>
                            <li><a href="#">easy returns</a></li>
                        </ul>
                    </div>
                    <div class="language-block">
                        <div class="language-dropdown">
                            <span class="language-dropdown-click">
                                english
                                <i
                                    class="fa fa-angle-down"
                                    aria-hidden="true"
                                ></i>
                            </span>
                            <ul
                                class="language-dropdown-open"
                                style="display: none"
                            >
                                <li><a href="#">hindi</a></li>
                                <li><a href="#">english</a></li>
                                <li><a href="#">marathi</a></li>
                                <li><a href="#">spanish</a></li>
                            </ul>
                        </div>
                        <div class="curroncy-dropdown">
                            <span class="curroncy-dropdown-click">
                                usd<i
                                    class="fa fa-angle-down"
                                    aria-hidden="true"
                                ></i>
                            </span>
                            <ul
                                class="curroncy-dropdown-open"
                                style="display: none"
                            >
                                <li>
                                    <a href="#"><i class="fa fa-inr"></i>inr</a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-usd"></i>usd</a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-eur"></i>eur</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
